<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration> 
	<session-factory>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/project2.4</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQL5Dialect</property>
		
		<!-- Use the C3P0 connection pool provider -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		
		<!-- Show and print nice SQL on stdout -->
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		
		<!-- List of XML mapping files -->
		<mapping resource="mappingHibernate/ChampionNameId.hbm.xml"/>
		<mapping resource="mappingHibernate/SummonerSpelNameId.hbm.xml"/>
		<mapping resource="mappingHibernate/RuneNameId.hbm.xml"/>
		<mapping resource="mappingHibernate/ItemNameId.hbm.xml"/>
		<mapping resource="mappingHibernate/MasteryNameId.hbm.xml"/>
		<mapping resource="mappingHibernate/Accounts.hbm.xml"/>
		<mapping resource="mappingHibernate/Summoner.hbm.xml"/>
		<mapping resource="mappingHibernate/RunepageSummoner.hbm.xml"/>
		<mapping resource="mappingHibernate/MasterypageSummoner.hbm.xml"/>
		<mapping resource="mappingHibernate/MatchHistory.hbm.xml"/>
		<mapping resource="mappingHibernate/Comments.hbm.xml"/>
		<mapping resource="mappingHibernate/BuildComment.hbm.xml"/>
		<mapping resource="mappingHibernate/RuneComment.hbm.xml"/>
		<mapping resource="mappingHibernate/MasteryComment.hbm.xml"/>
		<mapping resource="mappingHibernate/Build.hbm.xml"/>
		<mapping resource="mappingHibernate/MasteryPageDatabase.hbm.xml"/>
	</session-factory>
</hibernate-configuration> 